*{
  font-family: 'Helvetica Neue', Helvetica;

}

html, body{
  width: 100%;
  height:100%;
  margin:auto;
  background-color: #f5f5f5;

}

h1{
  font-size: 100px;
  font-weight: 1;
  text-align: center;
  color:rgba(175, 47, 47, 0.15);
}
.today{
  font-size: 25px;
  font-weight: 1;
  text-align: center;
  color:gray;
  background-color: white;
  width: 50%;
  padding:1em;
  margin:auto;
  border-radius: 10px;
  border: 0.1px gray solid;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);

}


